@use './styles/variables.scss' as v

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $backgroundColor;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  margin: 1rem;
}

:root {
  --primary-color: #646cff;
  --background-color: #242424;
}

